In [9]:
import pandas as pd
df = pd.read_csv("C:/Users/FISAYO/Downloads/Weather.csv")
df

          Day  Temperature  Wind   Event
0  01/01/2022           32     6    Rain
1  01/02/2022           35     7  Sunny
2  01/03/2022           28     2    Snow
3  01/04/2022           24     7    Snow
4  01/05/2022           32     4    Rain
5  01/06/2022           32     2   Sunny

In [10]:
df.shape

(6, 4)

In [11]:
df[2:5]

          Day  Temperature  Wind Event
2  01/03/2022           28     2  Snow
3  01/04/2022           24     7  Snow
4  01/05/2022           32     4  Rain

In [14]:
df.Day

0    01/01/2022
1    01/02/2022
2    01/03/2022
3    01/04/2022
4    01/05/2022
5    01/06/2022
Name: Day, dtype: object

In [15]:
df.Event

0      Rain
1    Sunny
2      Snow
3      Snow
4      Rain
5     Sunny
Name: Event, dtype: object

In [17]:
df['Temperature'].sum()

183

In [19]:
df.describe()

       Temperature      Wind
count     6.000000  6.000000
mean     30.500000  4.666667
std       3.885872  2.338090
min      24.000000  2.000000
25%      29.000000  2.500000
50%      32.000000  5.000000
75%      32.000000  6.750000
max      35.000000  7.000000

In [21]:
df[df.Temperature>= 32]

          Day  Temperature  Wind   Event
0  01/01/2022           32     6    Rain
1  01/02/2022           35     7  Sunny
4  01/05/2022           32     4    Rain
5  01/06/2022           32     2   Sunny

In [22]:
df[df.Temperature == df['Temperature'].max()]

          Day  Temperature  Wind   Event
1  01/02/2022           35     7  Sunny

In [23]:
df.index

RangeIndex(start=0, stop=6, step=1)